/* Inicio do desafio
@author Kevin Tavares
 */

/* Configurações gerais */
body {
  font-family: sans-serif;
}

.container {
  margin-left: 30px;
  margin-right: 30px;
}

.hidden-div {
  opacity: 0;
}

.list-web {
  display: none;
}

/*  Menu para navegação Mobile */

.navMobile {
  background-color: white;
  height: 100vh;
  display: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 30px;
}

.navMobile img {
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 20px;
}
.navMobile ul li {
  margin-bottom: 70px;
}

.navMobile ul li a {
  color: black;
}

/* Cabeçalho */

header {
  background-image: linear-gradient(to right, #4dd2d2, #092331);
  padding: 20px 0;
  margin-bottom: 20px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Card que aparece ao clicar */

.modal {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #f0f1ef;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.219);
  font-size: 16px;
  transition: ease-in-out 0.7s;
}

.modal img {
  height: 110px;
  margin-right: 20px;
}

.modal div p {
  margin-bottom: 10px;
}

.modal div span {
  font-weight: bold;
}

/* Cards padrões */

.cards {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #f0f1ef;
  margin-bottom: 20px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.219);
  font-size: 16px;
  cursor: pointer;
  position: relative;
  transition: background 0.3s;
}

.card:hover {
  background-color: #002b50;
  color: white;
}

.card:focus {
  background-color: #002b50;
  color: white;
}

.card img {
  height: 110px;
  margin-right: 20px;
}

.card div p:nth-child(1) {
  font-weight: bold;
}

.icon {
  position: relative;
}

.bolinha {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #4dd2d2;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* Versão Web */

@media screen and (min-width: 1024px) {
  .container {
    margin-left: 100px;
    margin-right: 100px;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .card {
    margin-bottom: 0;
  }

  .toggle,
  .toggle-x {
    display: none;
  }

  .list-web {
    display: flex;
    gap: 40px;
  }

  .list-web li a {
    font-size: 20px;
    color: white;
  }

  .list-web li a:hover {
    color: cadetblue;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    margin-left: 250px;
    margin-right: 250px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
